.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--color-fill);
  --bs-dropdown-link-active-color: var(--text-color-ultra-dark) ;
  --bs-dropdown-item-padding-y: 11px;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 15px;
}

