@use '_theme.scss';

.slider {
  --content-xl: '{`items`: 5}';
  --content-lg: '{`items`: 5}';
  --content-md: '{`items`: 4.5}';
  --content-sm: '{`items`: 3.5}';
  --content-xs: '{`items`: 2.5}';
}

.slider-wrapper-single {
  overflow: hidden;

  .slider {
    position: relative;
    display: flex;
    flex-direction: row;

    & > * {
      flex-grow: 1;
      flex-shrink: 0;
      overflow: hidden;
      flex-basis: 100%;
    }
  }

  .left-btn {
    position: relative;
    opacity: 0;
    transform: scaleX(-1);
    cursor: pointer;
    margin-left: 20px;
  }

  .right-btn {
    position: relative;
    opacity: 0;
    cursor: pointer;
    margin-right: 20px;
  }

  .dots {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .dot {
      box-sizing: border-box;
      height: 10px;
      width: 10px;
      margin: 0px 5px;
      border-radius: 50%;
      border: 1px solid #000000;
      background-color: #000000;
      opacity: 0.5;

      &.active {
        border: 1px solid #ffffff;
        background-color: #ffffff;
        opacity: 1;
      }
    }
  }

  @media (min-width: theme.$xl) {
    &:hover {
      .arrows {
        opacity: 1;
      }
    }
  }

  @media (min-width: theme.$lg) and (max-width: theme.$xl) {
    &:hover {
      .arrows {
        opacity: 1;
      }
    }
  }

  @media (min-width: theme.$md) and (max-width: theme.$lg) {
    &:hover {
      .arrows {
        opacity: 0;
      }
    }
  }

  @media (min-width: theme.$sm) and (max-width: theme.$md) {
    &:hover {
      .arrows {
        opacity: 0;
      }
    }
  }

  @media (min-width: theme.$xs) and (max-width: theme.$sm) {
    &:hover {
      .arrows {
        opacity: 0;
      }
    }
  }

  @media (max-width: theme.$xs) {
    &:hover {
      .arrows {
        opacity: 0;
      }
    }
  }
}

.slider-wrapper-multi {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 2px;

  .arrows {
    width: 30px;
    position: absolute;
    top: 50%;
    z-index: 2;
    cursor: pointer;
  }

  .left-btn {
    left: 8px;
    transform: translateY(-50%) scaleX(-1);
  }

  .right-btn {
    /* horizontal position (left) is set inline by Slider.js */
    transform: translateY(-50%);
  }

  .slider {
    position: relative;
    display: flex;
    flex-direction: row;

    & > * {
      flex-grow: 0;
      flex-shrink: 0;
      overflow: hidden;
      box-sizing: border-box;
    }
  }

  @media (min-width: theme.$lg) {
    width: 1160px;
  }

  @media (min-width: theme.$xl) {
    .slider {
      & > * {
        padding: 0px 7.5px;
        width: 232px;
      }

      &:after {
        display: none;
        content: var(--content-xl);
      }
    }

    .arrows {
      opacity: 1;
    }
  }

  @media (min-width: theme.$lg) and (max-width: theme.$xl) {
    .slider {
      & > * {
        padding: 0px 7.5px;
        width: 232px;
      }

      &:after {
        display: none;
        content: var(--content-lg);
      }
    }

    .arrows {
      opacity: 1;
    }
  }

  @media (min-width: theme.$md) and (max-width: theme.$lg) {
    width: 727px;

    .slider {
      & > * {
        padding: 0px 5px;
        width: 161px;
      }

      &:after {
        display: none;
        content: var(--content-md);
      }
    }

    .arrows {
      opacity: 1;
    }
  }

  @media (min-width: theme.$sm) and (max-width: theme.$md) {
    width: 536px;

    .slider {
      & > * {
        padding: 0px 5px;
        width: 153px;
      }

      &:after {
        display: none;
        content: var(--content-sm);
      }
    }

    .arrows {
      opacity: 0;
    }
  }

  @media (min-width: theme.$xs) and (max-width: theme.$sm) {
    width: 300px;

    .slider {
      & > * {
        padding: 0px 5px;
        width: 120px;
      }

      &:after {
        display: none;
        content: var(--content-xs);
      }
    }

    .arrows {
      opacity: 0;
    }
  }

  @media (max-width: theme.$xs) {
    width: 300px;

    .slider {
      & > * {
        padding: 0px 5px;
        width: 120px;
      }

      &:after {
        display: none;
        content: var(--content-xs);
      }
    }

    .arrows {
      opacity: 0;
    }
  }
}