@use "_theme.scss";

.desktop-duplicate-button {
  border: none;

  @media (max-width: theme.$lg) {
    display: none;
  }

  &:disabled {
    .icon {
      path {
        stroke: #cacaca;
      }
    }
  }
}

.mobile-duplicate-button {
  display: none;
  @media (max-width: theme.$lg) {
    display: block;
  }
}